// ########### IMPORTS ###############
@import url("flexboxgrid.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

// ############# MIXINS #############

// ############ VARIABLES ###########



// ############ CSS ##################
body{
  font-family: 'Open Sans', sans-serif;
  background-image: url(http://kronospan-express.com/public/thumbs/1100x1100/decors/kronodesign/worktops/3079_1100x1100_crop_478b24840a.jpg);
  background-size: 50%;
}
#app{
  margin:10px;
}
.flexbox{
  display: flex;
}